/*  CSS BY KADEN ROSE */

/* IMPORTED FONTS */

/* CSS RESET */

/* ROOT VARIABLES */
:root {
    --primary-color: ;
    --secondary-color: ;
    
    --font-size: ;

    --typeface-01: ;
}
/* GLOBAL STYLES */

/* MEDIA QUERY (medium) */

/* MEDIA QUERY (large) */

/* MEDIA QUERY (xl) */
